.test {
  background-color: #c113ff;
  width: 200px;
  height: 200px;
}
.header-top {
  height: 60px;
  display: flex;
  flex:1;
}

.header-top-wrapper {
  display: flex;
  align-self: stretch;
  /*background-color: orange;*/
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header{
  height: 90px;
  flex:1;
}

.color-primary-1 {
  background-color: #340EC1;
}

.color-primary-1-light {
  background-color: #4D25E0;
}

.free-shipping-message {
  color: #FFFFFF;
  font-size: 0.8em;
  /*background-color: #c113ff;*/
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.subscribe-now {
  color: #FFFFFF;
  font-size: 0.8em;
  background-color: #0D0725;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.subscribe-now-message1 {
  font-size: 0.9em;
  font-weight: 500;
}

.subscribe-now-message2 {
  font-size: 1.1em;
  font-weight: bold;
}

.free-shipping-icon {
  font-size: 1.5em;
  margin-top: 3px;
  margin-right: 6px;
  /*background-color: red;*/
}
