.header-top {
  height: 60px;
  display: flex;
  flex:1;
}

.header-top-wrapper {
  display: flex;
  align-self: stretch;
  /*background-color: orange;*/
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header{
  height: 90px;
  display: flex;
  flex:1;
}

.color-primary-1 {
  background-color: #340EC1;
}

.color-primary-1-light {
  background-color: #4D25E0;
}

.free-shipping-message {
  color: #FFFFFF;
  font-size: 0.8em;
  /*background-color: #c113ff;*/
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.subscribe-now {
  color: #FFFFFF;
  font-size: 0.8em;
  background-color: #0D0725;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  /*Fix center alignment bug of this div*/
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.subscribe-now-message1 {
  font-size: 0.9em;
  font-weight: 500;
}

.subscribe-now-message2 {
  font-size: 1.1em;
  font-weight: bold;
}

.free-shipping-icon {
  font-size: 1.5em;
  margin-top: 3px;
  margin-right: 6px;
  /*background-color: red;*/
}

.logoLink {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  background-color: #4D25E0;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.logoWord {
  font-size: 1.6em;
  font-weight: 300;
}
.logoWord2 {
  font-size: 1.6em;
  font-weight: 500;
}
.searchInputWrapper {
  display: flex;
  /*background-color: #ff50d2;*/
  flex: 4;
  /*TODO: Fix fixed percentage margin because it produce a horizontal bar in responsive small size (mobile) */
  margin-left: 7%;
  margin-right: 7%;
  height: 50px;
  position: relative;
}
.productCategoriesBtn {
  flex: 1;
  background-color: #000000;
  color: #FFFFFF;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  cursor: pointer;
}
.searchInput {
  flex: 4;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  padding-left: 4%;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  z-index: 1;
  color: #0D0725;
  right: 0;
  margin-right: 10px;
  align-self: center;
}

.menusWrapper {
  /*background-color: green;*/
  flex: 2;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.accountWrapper{
  align-self: stretch;
  /*background-color: gold;**/
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flagWrapper {
  align-self: stretch;
  /*background-color: red;*/
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flag{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.headerText{
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 600;
}

.accountIcon{
  margin-left: 2px;
  color: #FFFFFF;

}

.separatorWrapper {
  align-self: stretch;
  /*background-color: orange;*/
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  height: 40px;
  background-color: #FFFFFF;
  width: 1px;
  opacity: 0.2;
}

.cartWrapper{
  /*background-color: #ff50d2;*/
  justify-content: center;
  align-items: center;
  flex: 1.5;
  display: flex;
  flex-direction: row;
}

.cartIcon {
  margin-right: 4px;
  color: #FFFFFF;
}

.cartText {
  margin-right: 8px;
}

.cartCount {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #0D0725;
  color: #FFFFFF;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 800;
}
